#app {
  height: 100vh;
  background-color: #bfa;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);

  .search {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
  }

  .searchBtn {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
  }

  .addBtn {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
  }

  .main {
    grid-column: 1 / span 20;
    grid-row: 2 / span 9;
    padding: 2vh 5vw;
  }
}